<div class="container">
  <div class="title">Contact</div>
  <div class="contact-cards">
    <%# Contact card left: Image and contact details  %>
    <div class="card-left">
      <img id="contact" src="https://res.cloudinary.com/dipnvqfev/image/upload/v1671811527/Portfolio%20Remco/michal-biernat-h0xEUQXzU38-unsplash_qd1axz.jpg" alt="Contact">
      <div class="contact-info">
        <h3>Let's get connected</h3>
        <p>I am availible for front-end or full-stack job offers and or freelance projects.</p>
        <br>
        <p><strong>Phone:</strong> +31 6 23927717</p>
        <p><strong>Email:</strong> remcojonk@hotmail.com</p>
        <p><u>Or find me on:</u></p>
        <div class="socials">
          <a href="https://github.com/remcoj89"> <i class="fa-brands fa-github"></i></a>
          <a href="https://www.linkedin.com/in/remcojonk/"> <i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
      ra
    </div>
    <%# Contact card right: Contact form %>
    <div class="card-right">
      <div class="card-message">
        <h1 >Contact Me</h1>
        <p>I'd love to hear from you. Send me a message below.</p>
      </div>
      <div class="contact-form">
        <%= form_with scope: :contacts, url: contacts_path, method: :post, local: true do |form| %>
          <div class="form-group">
            <%= form.label :name %>
            <%= form.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= form.label :last_name %>
            <%= form.text_field :last_name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= form.label :email %>
            <%= form.email_field :email, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= form.label :message %>
            <%= form.text_area :message, class: "form-control" %>
          </div>
          <%= form.submit "Submit", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
