<!DOCTYPE html>
<html>
  <head>
    <title>RemcoJonkPortfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600&family=Montserrat&display=swap" rel="stylesheet">
  </head>

  <body>
    <section id="home-section">
      <%= render 'shared/navbar' %>
      <%= render 'shared/header' %>
    </section>
    <section id="portfolio-section">
      <%= yield %>
    </section>
    <section id="resume-section">
      <%= render 'shared/resume' %>
    </section>
    <section id="contact-section">
      <%= render 'shared/contact' %>
    </section>
    <%= render 'shared/footer' %>
  </body>
</html>
